<ux-dashboard #dashboard
              class="customizable-dashboard"
              [class.dashboard-grabbing]="dashboard.isGrabbing"
              [options]="dashboardOptions">

  <ux-dashboard-widget id="analytics-1-widget"
                       name="Usage Analytics"
                       [colSpan]="mapColSpan"
                       [rowSpan]="mapRowSpan"
                       [resizable]="true">

    <div class="widget-content"
         [class.widget-grabbing]="usageHandle.isGrabbing">

      <h3 class="widget-title">Coronavirus Map in Baden Württemberg</h3>
      <p>Click desired area on the map to see the infection rate and history.</p>

      <button class="widget-grab-handle"
              uxDashboardGrabHandle
              uxDashboardWidgetDragHandle
              #usageHandle="ux-dashboard-grab-handle">
        <ux-icon name="pan"></ux-icon>
      </button>

      <app-bw-svg-map
        (regionClick)="onRegionClick($event)"
        [regionData]="regionData$ | async">]
      </app-bw-svg-map>

    </div>
  </ux-dashboard-widget>

  <ux-dashboard-widget id="history-widget"
                       name="History"
                       [colSpan]="sideColSpan"
                       [rowSpan]="historyRowSpan">
    <div class="widget-content"
         [class.widget-grabbing]="historyHandle.isGrabbing">

      <h3 class="widget-title">History Graph
        <span *ngIf="showAllBWArea">All BW</span>
        <span *ngIf="selectedRegion && !showAllBWArea">{{selectedRegion.data.name}}</span>
      </h3>

      <div class="sub-info">
        <div class="btn-group">
          <button type="button" class="btn button-toggle-primary"
                  [(ngModel)]="barChartData[0].hidden"
                  [btnCheckboxTrue]="false"
                  [btnCheckboxFalse]="true"
                  (click)="generateChartData()"
                  btnCheckbox>
            Total <span> ({{todaysCases}}) </span>
          </button>
          <button type="button" class="btn button-toggle-accent"
                  [(ngModel)]="barChartData[1].hidden"
                  [btnCheckboxTrue]="false"
                  [btnCheckboxFalse]="true"
                  (click)="generateChartData()"
                  btnCheckbox>
            New <span> ({{newCases}}) </span>
          </button>
        </div>

        <ux-toggleswitch class="toggle-all-bw-area" [(value)]="showAllBWArea" (change)="generateChartData()">
          All BW
        </ux-toggleswitch>
      </div>

      <button class="widget-grab-handle"
              uxDashboardGrabHandle
              uxDashboardWidgetDragHandle
              #historyHandle="ux-dashboard-grab-handle">
        <ux-icon name="pan"></ux-icon>
      </button>

      <div class="widget-chart">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [colors]="barChartColors"
                chartType="bar">
        </canvas>
      </div>

    </div>
  </ux-dashboard-widget>

  <ux-dashboard-widget id="info-widget"
                       name="Info"
                       [colSpan]="sideColSpan"
                       [rowSpan]="detailRowSpan">
    <div class="widget-content prominent info"
         [class.widget-grabbing]="infoHandle.isGrabbing">

      <h3 class="widget-title">Further Info
        <span *ngIf="showAllBWArea">All BW</span>
        <span *ngIf="selectedRegion && !showAllBWArea">{{selectedRegion.data.name}}</span>
      </h3>

      <div class="sub-info">
        <ux-toggleswitch class="toggle-all-bw-area" [(value)]="showAllBWArea" (change)="generateChartData()">
          All BW
        </ux-toggleswitch>
      </div>

      <button class="widget-grab-handle"
              uxDashboardGrabHandle
              uxDashboardWidgetDragHandle
              #infoHandle="ux-dashboard-grab-handle">
        <ux-icon name="pan"></ux-icon>
      </button>

      <p class="info-title">{{todaysDate | date:'long'}}</p>

      <ng-container>
        <p class="info-value m-t text-black">
          <ux-alert [type]="'error'"
                    [dismissible]="false">
            <ux-icon uxAlertIcon [name]="'status-warning-filled'"></ux-icon>
            #Total Active Cases: <b>{{todaysCases}}</b><br>
            #New Cases: <b> {{newCases}} </b>
          </ux-alert>
        </p>

        <div [hidden]="true">
          <p class="info-value m-t text-black">
            <ux-alert [type]="'success'"
                      [dismissible]="false">
              <ux-icon uxAlertIcon [name]="'status-approved-filled'"></ux-icon>
              #Recoveries: <b>{{numberOfRecoveries}}</b>
            </ux-alert>
          </p>
          <p>
            Number of recoveries is detected by calculating decreasing number of cases per day per region. That means:
          </p>
          <ol>
            <li>Number of occurrences where a patient is declared that s(he) has been recovered, thus is not included the
              the graph anymore.
            </li>
            <li>However this patient <u><i>could</i></u> be contracted the virus again.</li>
          </ol>
          <i>So it does not represents exactly number of poeple that recovered, but to be precise number of cases where
            patient is declared to be recovered.</i>
        </div>

      </ng-container>

      <div><hr>
        <small>Stay tuned more info is coming.. <i>*not more cases hopefully</i>😇</small>
      </div>

    </div>
  </ux-dashboard-widget>

  <ux-dashboard-widget id="about"
                       name="Info"
                       [colSpan]="sideColSpan"
                       [rowSpan]="aboutRowSpan">
    <div class="widget-content info"
         [class.widget-grabbing]="infoHandle.isGrabbing">

      <h3 class="widget-title">About</h3>

      <p class="info-value m-t text-black">
        <i>Display a map of coronavirus infections in Baden-Württemberg area, including history graph per area.<br>
          Data is taken from <a href="https://sozialministerium.baden-wuerttemberg.de/" target="_blank">https://sozialministerium.baden-wuerttemberg.de/</a>and
          updated daily <b>(usually they upload new data after 19:00 each day)</b>.</i>
      </p>

      <div>
        <img src="assets/github-icon.png" width="50px" height="40px"> <a
        href="https://github.com/taufanardi/BW-corona-map" target="_blank">Fork this project</a>
      </div>

    </div>
  </ux-dashboard-widget>

</ux-dashboard>
