<ux-dashboard #dashboard
              class="customizable-dashboard"
              [class.dashboard-grabbing]="dashboard.isGrabbing"
              [options]="options">

  <ux-dashboard-widget id="analytics-1-widget"
                       name="Usage Analytics"
                       [colSpan]="4"
                       [rowSpan]="mapRowSpan"
                       [resizable]="true">

    <div class="widget-content"
         [class.widget-grabbing]="usageHandle.isGrabbing">

      <h3 class="widget-title">Infection Map</h3>
      <p>Click desired area in the map to see the infection rate and history.</p>

      <button class="widget-grab-handle"
              uxDashboardGrabHandle
              uxDashboardWidgetDragHandle
              #usageHandle="ux-dashboard-grab-handle">
        <ux-icon name="pan"></ux-icon>
      </button>

      <div  class="chart vis-height-fit theme-swr-aktuell vis-d3-maps-choropleth" data-gr-c-s-loaded="true">
        <app-bw-svg-map (regionClick)="onRegionClick($event)" ></app-bw-svg-map>
      </div>

    </div>
  </ux-dashboard-widget>

  <ux-dashboard-widget id="history-widget"
                       name="History"
                       [colSpan]="3"
                       [rowSpan]="detailRowSpan">
    <div class="widget-content"
         [class.widget-grabbing]="historyHandle.isGrabbing">

      <h3 class="widget-title">History Graph {{selectedRegion}}</h3>
      <p *ngIf="todaysCases">Number of cases today: <span > {{todaysCases}} </span></p>

      <button class="widget-grab-handle"
              uxDashboardGrabHandle
              uxDashboardWidgetDragHandle
              #historyHandle="ux-dashboard-grab-handle">
        <ux-icon name="pan"></ux-icon>
      </button>

      <div class="widget-chart">
        <canvas aria-label="Bar chart showing file type totals"
                baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [colors]="barChartColors"
                chartType="bar">

          <table>
            <thead>
            <tr>
              <th>File Type</th>
              <th>Number of Files</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let label of barChartLabels; let idx = index">
              <td>{{label}}</td>
              <td>{{barChartData[0].data[idx]}}</td>
            </tr>
            </tbody>
          </table>

        </canvas>
      </div>

    </div>
  </ux-dashboard-widget>

  <ux-dashboard-widget id="info-widget"
                       name="Info"
                       [colSpan]="3"
                       [rowSpan]="detailRowSpan">
    <div class="widget-content prominent"
         [class.widget-grabbing]="infoHandle.isGrabbing">

      <h3 class="widget-title">Further Info (more detail is coming..)</h3>

      <button class="widget-grab-handle"
              uxDashboardGrabHandle
              uxDashboardWidgetDragHandle
              #infoHandle="ux-dashboard-grab-handle">
        <ux-icon name="pan"></ux-icon>
      </button>

      <p class="info-title">Today: {{todaysDate}}</p>
      <ng-container *ngIf="selectedRegion">
        <p class="info-value m-t text-black">
          #Cases today: <b>{{todaysCases}}</b>
        </p>
        <p class="info-value m-t text-black">
          #Recovery: <i>Coming soon..</i>
        </p>
      </ng-container>

      <hr>
      <p class="info-value m-t text-black">
        <i>Display a map of coronavirus infections in Baden-Württemberg area, including history graph per area.<br>
          Data is taken from <a href="https://sozialministerium.baden-wuerttemberg.de/" target="_blank">https://sozialministerium.baden-wuerttemberg.de/</a>and updated daily.</i>
      </p>
    </div>
  </ux-dashboard-widget>

</ux-dashboard>
