.customizable-dashboard .widget-content {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 #ccc;
  padding: 15px;
  overflow: hidden;
  transition: box-shadow 250ms ease-in-out;
}

.customizable-dashboard .widget-content .widget-grab-handle {
  position: absolute;
  top: 15px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: move;
}

.customizable-dashboard .widget-content .widget-grab-handle:focus {
  outline: 2px dotted;
  outline: auto -webkit-focus-ring-color;
  outline-color: #00a7a2;
  outline-offset: 0;
}

.customizable-dashboard .widget-content.prominent:after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-right: 25px solid #ff9048;
  border-bottom: 25px solid transparent;
}

.customizable-dashboard .widget-content .dashboard-split-panel {
  display: flex;
  height: 100%;
}

.customizable-dashboard .widget-content .dashboard-split-panel .dashboard-section-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 140px;
  height: 100%;
  padding: 15px;
}

.customizable-dashboard .widget-content .dashboard-split-panel .dashboard-section-large {
  flex: 1;
  height: 100%;
}

.customizable-dashboard .widget-content .dashboard-split-panel .dashboard-section-large.dashboard-section-divider {
  border-right: 1px solid #ccc;
}

.customizable-dashboard .widget-content .info-title {
  color: #999;
  margin: 0;
  font-weight: 300;
  font-size: 0.875rem;
}

.customizable-dashboard .widget-content .info-value {
  color: #666;
}

.customizable-dashboard .widget-content .widget-title {
  margin-top: 0;
  font-weight: 700;
  color: #333;
  font-size: 1.25rem;
}

.customizable-dashboard .widget-content .widget-chart {
  width: 100%;
  height: calc(100% - 60px);
}

.customizable-dashboard .widget-content .widget-feature-list {
  margin: 0;
  padding-left: 20px;
  list-style-type: none;
}

.customizable-dashboard .widget-content .widget-feature-list .widget-feature-list-item {
  position: relative;
  color: #666;
  padding: 3px 0;
}

.customizable-dashboard .widget-content .widget-feature-list .widget-feature-list-item:before {
  content: ' ';
  position: absolute;
  top: 9px;
  left: -20px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #00a7a2;
}

.customizable-dashboard .widget-content .widget-feature-list .widget-feature-list-item.warning:before {
  border-radius: 0;
  background-color: transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 12px solid #ff9048;
}

.customizable-dashboard .widget-content .widget-split {
  display: flex;
  justify-content: space-between;
}

.customizable-dashboard .widget-content .widget-split .text-count {
  margin: 0;
}

.customizable-dashboard .widget-content .widget-split .text-label {
  margin-top: 10px;
  color: #999;
  font-weight: 300;
  font-size: 0.875rem;
}

.customizable-dashboard.dashboard-grabbing .widget-content {
  opacity: 0.5;
}

.customizable-dashboard.dashboard-grabbing .widget-content.widget-grabbing {
  opacity: 1;
  outline: 2px dotted;
  outline: auto -webkit-focus-ring-color;
  outline-color: #00a7a2;
  outline-offset: 0;
  box-shadow: 0 4px 10px 0 #999;
}

.customizable-dashboard.dashboard-grabbing .widget-content.widget-grabbing .widget-grab-handle {
  outline: none;
}

::ng-deep {
  .chart {
    font-family: TheMix5;
    color: #494949;
    font-size: 12px;
    background: transparent;
    margin: 0 0px;
    height: 100%;
  }
  .chart.vis-height-fit {
    overflow: hidden;
  }
  .chart a {
    color: #0088CC;
    text-decoration: none;
  }
  .chart .dw-chart-header {
    min-height: 1px;
    position: relative;
    overflow: auto;
  }
  .chart .dw-chart-header .header-right {
    position: absolute;
    right: 10px;
    z-index: 20;
  }
  .chart .dw-chart-header h1 {
    font-family: TheMix6;
    font-weight: lighter;
    font-size: 19px;
    font-style: normal;
    text-decoration: none;
    color: #494949;
    margin: 0 0 10px;
  }
  .chart .dw-chart-header p {
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    font-style: normal;
    text-decoration: none;
    margin: 5px 0 10px !important;
  }
  .chart .dw-chart-body.dark-bg .label span {
    color: #494949;
    fill: #494949;
  }
  .chart .dw-chart-body .bc-grid-line {
    border-left-style: solid;
  }
  .chart .dw-chart-body.content-below-chart {
    margin: 0px 0px 20px 0px;
  }
  .chart .labels text {
    font-size: 12px;
  }
  .chart .label {
    font-size: 12px;
  }
  .chart .label span,
  .chart .label tspan {
    color: #494949;
    fill: #494949;
  }
  .chart .label.inverted span {
    text-shadow: 0 0px 2px #000000;
    color: #ffffff;
  }
  .chart .label.inside:not(.inverted) span {
    text-shadow: 0 0px 2px #ffffff;
    color: #333333;
  }
  .chart .label sup {
    text-shadow: none;
  }
  .chart .label.highlighted {
    font-weight: bold;
  }
  .chart .label.highlighted,
  .chart .label .label.axis {
    font-size: 12px;
    z-index: 100;
  }
  .chart .label.hover {
    font-weight: bold;
  }
  .chart .label.smaller span {
    font-size: 80%;
  }
  .chart .dw-chart-notes {
    font-weight: normal;
    font-size: 16px;
    font-style: italic;
    text-decoration: none;
    margin: 0px 0px 5px 0px;
    position: relative;
  }
  .chart #footer,
  .chart .dw-chart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    font-size: 11px;
    font-style: normal;
    text-decoration: none;
    color: #888;
  }
  .chart #footer > div > .footer-block,
  .chart .dw-chart-footer > div > .footer-block {
    display: inline-block;
  }
  .chart #footer > div > .footer-block.hidden,
  .chart .dw-chart-footer > div > .footer-block.hidden {
    display: none;
  }
  .chart #footer > div > .footer-block a[href=""],
  .chart .dw-chart-footer > div > .footer-block a[href=""] {
    color: #888;
    pointer-events: none;
    text-decoration: none;
    padding: 0;
    border-bottom: 0;
  }
  .chart #footer > div > .footer-block .separator,
  .chart .dw-chart-footer > div > .footer-block .separator {
    display: inline-block;
    font-style: initial;
  }
  .chart #footer > div > .footer-block .separator:before,
  .chart .dw-chart-footer > div > .footer-block .separator:before {
    content: "•";
    display: inline-block;
  }
  .chart #footer > div .footer-block.hidden:first-child + .footer-block:not(.hidden) .separator,
  .chart #footer > div .footer-block.hidden:first-child
  + .footer-block.hidden
  + .footer-block:not(.hidden) .separator,
  .chart #footer > div .footer-block.hidden:first-child
  + .footer-block.hidden
  + .footer-block.hidden
  + .footer-block:not(.hidden) .separator,
  .chart #footer > div .footer-block.hidden:first-child
  + .footer-block.hidden
  + .footer-block.hidden
  + .footer-block.hidden
  + .footer-block:not(.hidden) .separator,
  .chart #footer > div .footer-block.hidden:first-child
  + .footer-block.hidden
  + .footer-block.hidden
  + .footer-block.hidden
  + .footer-block.hidden
  + .footer-block:not(.hidden) .separator,
  .chart #footer > div .footer-block.hidden:first-child
  + .footer-block.hidden
  + .footer-block.hidden
  + .footer-block.hidden
  + .footer-block.hidden
  + .footer-block.hidden
  + .footer-block:not(.hidden) .separator,
  .chart .dw-chart-footer > div .footer-block.hidden:first-child + .footer-block:not(.hidden) .separator,
  .chart .dw-chart-footer > div .footer-block.hidden:first-child
  + .footer-block.hidden
  + .footer-block:not(.hidden) .separator,
  .chart .dw-chart-footer > div .footer-block.hidden:first-child
  + .footer-block.hidden
  + .footer-block.hidden
  + .footer-block:not(.hidden) .separator,
  .chart .dw-chart-footer > div .footer-block.hidden:first-child
  + .footer-block.hidden
  + .footer-block.hidden
  + .footer-block.hidden
  + .footer-block:not(.hidden) .separator,
  .chart .dw-chart-footer > div .footer-block.hidden:first-child
  + .footer-block.hidden
  + .footer-block.hidden
  + .footer-block.hidden
  + .footer-block.hidden
  + .footer-block:not(.hidden) .separator,
  .chart .dw-chart-footer > div .footer-block.hidden:first-child
  + .footer-block.hidden
  + .footer-block.hidden
  + .footer-block.hidden
  + .footer-block.hidden
  + .footer-block.hidden
  + .footer-block:not(.hidden) .separator {
    display: none;
  }
  .chart #footer > div > a:first-child::before,
  .chart #footer > div > .source-block:first-child::before,
  .chart #footer > div > .footer-block:first-child::before,
  .chart .dw-chart-footer > div > a:first-child::before,
  .chart .dw-chart-footer > div > .source-block:first-child::before,
  .chart .dw-chart-footer > div > .footer-block:first-child::before {
    content: "";
    display: none;
  }
  .chart .dw-chart-notes a,
  .chart .dw-chart-footer a {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #0088CC;
  }
  .chart a img {
    border: 0px;
  }
  .chart .embed-code {
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 15px;
    background: #eee;
    color: #000;
    border-radius: 6px;
    text-transform: none;
    font-size: 1em;
    box-shadow: 2px 2px 0px rgba(0,0,0,0.4);
    z-index: 10;
  }
  .chart .embed-code textarea {
    width: 90%;
    margin-top: 2%;
    height: 7em;
  }
  .chart .hide {
    display: none;
  }
  .chart .embed-code .close {
    cursor: pointer;
    position: absolute;
    right: 2%;
    top: 2%;
    font-size: 1.125em;
    opacity: 0.7;
  }
  .chart .embed-code .close:hover {
    opacity: 1;
  }
  .chart .secondary.tick,
  .chart text.secondary.tick,
  .chart .secondary.tick text,
  .chart .secondary.tick span {
    color: #000000;
    fill: #000000;
  }
  .chart .primary.tick span,
  .chart .primary.tick text,
  .chart .primary.tick tspan {
    color: #000000;
    fill: #000000;
  }
  .chart .dw-tooltip {
    color: #333333;
  }
  .chart .tooltip {
    z-index: 200;
    padding-bottom: 0px;
  }
  .chart .tooltip .content {
    background-color: #fff;
    border: 1px solid #888;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    padding: 5px 8px;
  }
  .chart .tooltip label {
    font-weight: 700;
  }
  .chart .tooltip label:after {
    content: ": ";
  }
  .chart .logo {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .chart .logo .big {
    display: none;
  }
  .chart svg .axis,
  .chart svg .tick,
  .chart svg .grid,
  .chart svg rect {
    shape-rendering: crispEdges;
  }
  .chart .filter-links {
    height: 30px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
  }
  .chart .filter-links a {
    color: #666;
    height: 28px;
    line-height: 28px;
    padding: 10px;
    text-decoration: none;
  }
  .chart .filter-links a:hover {
    color: #222;
  }
  .chart .filter-links a.active {
    font-weight: bold;
    color: #000;
    box-shadow: none;
    cursor: default;
    text-decoration: none;
    border-bottom: 3px solid #555;
    padding: 10px 10px 6px 10px;
  }
  .chart .filter-select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    padding: 4px 6px;
    vertical-align: middle;
    font-size: 12px;
  }
  .chart.plain #footer {
    height: 10px;
  }
  .chart.js .noscript {
    display: none;
  }
  .chart .hidden {
    display: none;
  }
  .chart .label.annotation span {
    background: transparent;
  }
  .chart .legend-item.hover .label {
    font-weight: bold;
  }
  .chart .watermark {
    position: fixed;
    left: 0;
    bottom: 0;
    transform-origin: top left;
    opacity: 0.182;
    font-weight: bold;
    font-size: 6px;
    white-space: nowrap;
    pointer-events: none;
  }
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  .clearfix {
    display: inline-block;
  }
  html[xmlns] .clearfix {
    display: block;
  }
  * html .clearfix {
    height: 1%;
  }
  .point {
    border: 1px solid #ccc;
    display: inline-block;
    position: absolute;
    background: #fff;
    z-index: 100;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    top: 20px;
  }
  .point:hover {
    background: #ebebeb;
  }
  .point.active {
    background: #ccc;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    top: 20px;
    border-color: #888;
  }
  .point-label {
    position: absolute;
  }
  .line {
    height: 1px;
    background: #ccc;
    position: absolute;
    left: 0px;
    top: 30px;
    z-index: 1;
  }
  .vis-pie-chart path,
  .vis-donut-chart path,
  .vis-election-donut-chart path {
    stroke-width: 0.5;
  }
  .chart.vis-d3-maps-choropleth {
    position: relative;
    overflow: hidden;
  }
  .chart.vis-d3-maps-choropleth .zoom-buttons {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
  }
  .chart.vis-d3-maps-choropleth .zoom-buttons .zoom-btn {
    width: 23px;
    height: 23px;
    line-height: 23px;
    margin-bottom: 1px;
    border-radius: 3px;
    background: rgba(0,0,0,0.16);
    transition: background 0.3s;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }
  .chart.vis-d3-maps-choropleth .zoom-buttons .zoom-btn:hover {
    background: rgba(0,0,0,0.3);
  }
  .chart.vis-d3-maps-choropleth .color-invert .zoom-buttons .zoom-btn {
    background: rgba(255,255,255,0.16);
  }
  .chart.vis-d3-maps-choropleth .color-invert .zoom-buttons .zoom-btn:hover {
    background: rgba(255,255,255,0.3);
  }
  .chart.vis-d3-maps-choropleth .map-key {
    position: absolute;
    background: rgba(255,255,255,0.6);
    padding: 10px;
  }
  .chart.vis-d3-maps-choropleth .color-invert .map-key {
    background: rgba(0,0,0,0.2);
  }
  .chart.vis-d3-maps-choropleth .map-key-br {
    right: 0px;
    bottom: 0px;
  }
  .chart.vis-d3-maps-choropleth .map-key-tr {
    right: 30px;
    top: 0px;
  }
  .chart.vis-d3-maps-choropleth .map-key-bl {
    left: 0px;
    bottom: 0px;
  }
  .chart.vis-d3-maps-choropleth .map-key-tl {
    left: 0px;
    top: 0px;
  }
  .chart.vis-d3-maps-choropleth .map-key .label {
    font-size: 13px;
  }
  .chart.vis-d3-maps-choropleth .color-invert .map-key .label span {
    color: #fff !important;
  }
  .chart.vis-d3-maps-choropleth .map-key-title {
    margin-bottom: 5px;
    font-weight: bold;
  }
  .chart.vis-d3-maps-choropleth .map-key-title.label {
    font-size: 14px;
  }
  .chart.vis-d3-maps-choropleth .map-key .stops .stop {
    white-space: nowrap;
    margin-bottom: 2px;
  }
  .chart.vis-d3-maps-choropleth .stop-swatch {
    display: inline-block;
    width: 15px;
    vertical-align: middle;
    height: 15px;
    margin-right: 5px;
  }
  .chart.vis-d3-maps-choropleth .stop-label {
    display: inline-block;
  }
  .chart.vis-d3-maps-choropleth .dw-tooltip {
    position: absolute;
    z-index: 100;
    visibility: hidden;
    background: white;
    max-width: 200px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
    padding: 10px;
    font-size: 11px;
    border: 1px solid whitesmoke;
  }
  .chart.vis-d3-maps-choropleth .dw-tooltip h2 {
    margin-top: 0;
    font-size: 13px;
  }
  .chart.vis-d3-maps-choropleth .dw-tooltip table {
    border-spacing: 0;
  }
  .chart.vis-d3-maps-choropleth .dw-tooltip td,
  .chart.vis-d3-maps-choropleth .dw-tooltip th {
    text-align: left;
    padding: 0 5px 3px 0;
  }
  .chart.vis-d3-maps-choropleth .dw-tooltip ul,
  .chart.vis-d3-maps-choropleth .dw-tooltip ol {
    padding-left: 15px;
  }
  .chart.vis-d3-maps-choropleth .dw-tooltip ul li,
  .chart.vis-d3-maps-choropleth .dw-tooltip ol li {
    margin-bottom: 2px;
  }
  .chart.vis-d3-maps-choropleth .dw-tooltip .tooltip-warning {
    font-weight: bold;
    font-family: roboto;
    color: #b94a48;
    background-color: #f2dede;
    position: relative;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    border: 1px solid #eed3d7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .chart.vis-d3-maps-choropleth .dw-tooltip .tooltip-warning table {
    font-weight: normal;
    display: block;
    margin-top: 10px;
    border-radius: 1px;
    padding: 1px 4px;
    background: #ffffff;
  }
  .chart.vis-d3-maps-choropleth .dw-tooltip .tooltip-warning table td {
    vertical-align: top;
    padding: 0;
  }
  .chart.vis-d3-maps-choropleth .dw-tooltip .tooltip-warning table td.arrow {
    padding-right: 2px;
  }
  .chart.vis-d3-maps-choropleth .dw-tooltip .dw-tooltip-close {
    color: #a7a7a7;
    width: 17px;
    height: 17px;
    float: right;
    text-align: center;
    transform: translate(7px,-5px);
    line-height: 17px;
    font-size: 17px;
  }
  .chart.vis-d3-maps-choropleth rect.background {
    fill: none;
    pointer-events: all;
  }
  .chart.vis-d3-maps-choropleth .dw-chart-body,
  .chart.vis-d3-maps-choropleth #chart {
    position: relative;
  }
  .chart.vis-d3-maps-choropleth .label {
    pointer-events: none;
  }
  .chart.vis-d3-maps-choropleth path.bg {
    fill: #dddddb;
    opacity: 0.5;
  }
  .chart.vis-d3-maps-choropleth path.region {
    fill: #bebcba;
  }
  .chart.vis-d3-maps-choropleth path.region-outline {
    stroke: none;
    fill-opacity: 0;
    stroke-linejoin: round;
  }
  .chart.vis-d3-maps-choropleth path.region-outline.has-data:hover {
    stroke: black;
  }
  .chart.vis-d3-maps-choropleth path.region-outline.sticky {
    stroke: black;
  }
  .chart.vis-d3-maps-choropleth .color-invert path.region-outline {
    stroke-width: 0.85px;
  }
  .chart.vis-d3-maps-choropleth .color-invert path.region-outline:hover {
    stroke: white;
  }
  .chart.vis-d3-maps-choropleth .color-invert path.region-outline.sticky {
    stroke: white;
  }
  .chart.vis-d3-maps-choropleth .lbl-hidden {
    visibility: hidden;
    pointer-events: none;
  }
  .chart.vis-d3-maps-choropleth path.borders {
    fill: none;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
  }
  .chart.vis-d3-maps-choropleth path.borders2 {
    stroke-width: 1.1px;
  }
  .chart.vis-d3-maps-choropleth path.innerborders {
    stroke-width: 0.25px;
    stroke-opacity: 0.65;
  }
  .chart.vis-d3-maps-choropleth svg text.label,
  .chart.vis-d3-maps-choropleth svg text.buffer {
    text-anchor: middle;
    font-size: 10px;
    fill: #222;
    dominant-baseline: middle;
  }
  .chart.vis-d3-maps-choropleth svg g.label text.buffer {
    stroke: white;
    opacity: 0.9;
    stroke-width: 4px;
    stroke-linejoin: round;
  }
  .chart.vis-d3-maps-choropleth svg g.label.inverted text.label tspan {
    fill: unset;
  }
  .chart.vis-d3-maps-choropleth svg g.label.inverted text.buffer {
    stroke: black;
    opacity: 0.2;
  }
  .chart.vis-d3-maps-choropleth .dw-tooltip {
    padding-right: 20px;
    top: 0;
    left: 0;
  }
  .chart.vis-d3-maps-choropleth .dw-tooltip .dw-tooltip-close {
    cursor: pointer;
    color: #d8d8d8;
    text-align: center;
    position: absolute;
    transform: initial;
    width: 14px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    right: 2px;
    top: 2px;
  }
  @media (max-device-width: 600px) {
    .chart.vis-d3-maps-choropleth .dw-tooltip .dw-tooltip-close {
      line-height: 17px;
      font-size: 17px;
      width: 17px;
      height: 17px;
      padding: 4px;
    }
  }
  .chart.png-export .dw-chart-footer .static-image,
  .chart.png-export .dw-chart-footer .chart-action-data {
    display: none !important;
  }
  .chart.png-export a {
    color: unset !important;
  }
  b,
  .dw-bold,
  .vis-tables .dw-bold span,
  .map-key-title span,
  .dw-tooltip h2,
  .tooltip h2,
  .label.series.out,
  g.tooltip text tspan:first-child,
  .bc-split.label span,
  .bc-group-title.label span,
  .axis-label.label span,
  .dw-chart-body.mobile-view table.responsive tr td:first-child,
  .chart.vis-data-table .datatable-default thead th,
  .dw-chart-body.mobile-view .responsive.datatable-default td:before,
  .chart .bc-row-highlight .bc-row-label span,
  .chart.vis-d3-pies .text-label,
  .chart.vis-d3-donuts .text-label,
  .chart.vis-d3-multiple-pies .text-label,
  .chart.vis-d3-multiple-donuts .text-label,
  .bar-chart .label.series.highlighted,
  .bar-chart .label.value.highlighted,
  .bar-chart .label.value.hover,
  .bar-chart .label.series.hover {
    font-weight: initial !important;
    font-family: TheMix6, sans-serif;
  }
  .chart .label:not(.inverted) span {
    color: black !important;
  }

}

.sub-info {
  position: relative;
}

.toggle-all-bw-area {
  position: absolute;
  top: 0px;
  right: 4px;
  border: none;
  background-color: transparent;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
